/* CSS Base */
* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background-color: rgb(75, 75, 95);
  font-size: 16px;

  /* DEixa Flex */
  display: flex;
  justify-content: center;
}

/* Calculadora */
.calculator {
  border-radius: 2px;
  box-shadow: 10px 3px 10px rgba(3, 16, 2, 0.6);
  padding: 15px 25px;
  width: 300px;
  height: 500px;
  margin-top: 3%;
  margin: 0 20%;
  background-color: rgb(108, 85, 85);
}

/* DISPLAY */
.display {
  margin: 20px 0 50px;
  padding: 20px 10px 10px 5px;
  text-align: right;
  background-color: rgb(109, 172, 208);
}

.display input {
  background: rgba(120, 172, 222, 0.193);
  border: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  text-align: right;
  width: 100%;
}

.display h2 {
  color: #181037;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
}

/* ROW GRID */
.row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 10px;
}

/* BUTTON */
.button {
  background-color: rgba(118, 97, 97, 0.5);
  border-color: #181037;
  border-radius: 10px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  margin: 2px;
  transition: all 0.15s linear;
  width: 50px;
}

.button:hover {
  transform: scale(1.1);
  transition-delay: 30ms;
  transition-timing-function: linear;
}

.button:active {
  transform: scale(0.8);
  transition-delay: 20ms;
  transition-timing-function: linear;
}

/* COLORS */
.gray {
  background-color: #eaeaea;
  color: #2f2d38;
}

.purple {
  background-color: #7d5dfe;
  color: #f2f2f2;
}

.purple-text {
  color: #7d5dfe;
}